/*==========  Desktop First  ==========*/


// // ≥1200px
//@media screen and (max-width:1200px) {}
@include media-breakpoint-down(lg) {

}

// // ≥992px
// @media screen and (max-width:992px) {}
@include media-breakpoint-down(md) {

}



// // ≥768px
//@media screen and (max-width:768px) {}
@include media-breakpoint-down(sm) {

}

// // ≥576px
//@media screen and (max-width:576px) {}
@include media-breakpoint-down(xs) {

}


// /*==========  Mobile First  ==========*/

// // ≤576px
// @media screen and (min-width:576px) {}

// // ≤768px
// @media screen and (min-width:576px) {}

// // ≤992px
// @media screen and (min-width:576px) {}

// // ≤1200px
// @media screen and (min-width:576px) {}