@import "vars"; //переменные, миксины
// @import "fonts"; //шрифты
@import "libs"; //reset.css
@import "_mixins/global"; //container сетка


//обертка pixel-perfect (вкл - //display: none; + указать высоту макета)
.overlay {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	background-image: url(../img/overlay.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 1080px;
	opacity: 0.3;
	z-index: 10;
	display: none;
}


//Site

.header {
	background-color: #181818;
	color: #fff;
	padding: 0px 57px;
	overflow: hidden;

	&__lines {
		position: relative;
		z-index: 1;
	}

	&-line {
		position: absolute;
		left: 9.8%;
		top: 0;
		bottom: 0;
		z-index: 50;
	}

	.header-line__item {
		background-color: rgba(255, 255, 255, .1);
		width: 1px;
		height: 1081px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			background-color: rgba(255, 255, 255, .1);
			width: 7px;
			height: 41px;
		}
	}

	.line-first {
		.header-line__item {
			&::after {
				display: none;
			}
		}
	}

	.line-second {
		left: 36.6%;

		.header-line__item {
			&::after {
				top: 77.5%;
			}
		}
	}

	.line-third {
		left: 63.4%;

		.header-line__item {
			&::after {
				top: 48%;
			}
		}
	}

	.line-fourth {
		left: 90%;

		.header-line__item {
			&::after {
				top: 80%;
				right: -7px;
			}
		}
	}

	&__top {
		position: absolute;
		top: 0;
		left: 72px;
		z-index: 10;
		width: 100%;
		max-width: 1760px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 35px 0 42px;
		@include circe-bold;
	}

	&__logo {
		max-width: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		a {
			display: block;
			text-decoration: none;

			&:last-child {
				margin-left: 13px;
			}
		}
	}

	.nav {
		margin-left: 44.3%;
	}

	.nav__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav__item {
		margin-right: 70px;
		transition: all 0.3s ease-in-out;

		&:hover {
			transform: scale(1.1);

			a {
				color: rgb(197, 187, 187);
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.nav__item-link {
		@include circe-bold;
		text-decoration: none;
		color: #fff;
		letter-spacing: 0.7px;
		transition: all 0.3s ease-in-out;
	}

	&__menu {
		margin-left: 21.5%;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			@include scale;
		}
	}

	.menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.menu__lines {
		max-width: 30px;
		max-height: 10px;
	}

	.menu__item {
		width: 29px;
		height: 2px;
		background-color: #ffffff;
		margin-bottom: 6px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu__text {
		display: block;
		margin-left: 12px;
	}

	&__lang {
		margin-left: auto;
		margin-right: 15px;
		position: relative;
		letter-spacing: 1.4px;
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			@include scale;
		}

		&::after {
			content: '';
			position: absolute;
			left: 27px;
			bottom: -2px;
			border: 5px solid transparent;
			border-top: 5px solid #fff;
		}
	}

	.dropdown-content {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 15px;
		display: none;

		&--active {
			display: block;
		}

		a {
			display: block;
			color: #fff;
			margin-top: 3px;

			&:hover {
				color: rgb(197, 187, 187);
			}
		}
	}

	.header__slider {
		padding-top: 103px;
		margin-left: -100px;
		margin-right: 15px;
	}

	.slider {
		position: relative;
	}

	.slick-arrow {
		position: absolute;
		top: 499px;
		//transform: translateY(-50%);
		right: 263px;
	}

	.prev-arrow {
		display: none;
	}

	.slick-dots {
		position: absolute;
		right: 310px;
		top: 497px;
		//transform: translateY(-50%);
		display: flex;
		align-items: center;

		button {
			font-size: 0;
			width: 14px;
			height: 2px;
			background-color: red;
		}

		.slick-active button {
			background-color: #fff;

		}
	}



	.slider__item {
		position: relative;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		height: 1080px;
		max-height: 963px;


		img {
			max-width: 100%;
			height: auto;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, .65);
		}
	}

	.slider__box {
		position: absolute;
		top: 303px;
		left: 20%;
		z-index: 11;
	}

	.slider__subtitle {
		@include bahnschrift;
		font-size: 2.4rem;
	}

	.slider__title {
		@include circe-extraBold;
		font-size: 4.8rem;
		line-height: 60px;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		max-width: 620px;
		margin-top: 25px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -115px;
			top: 0px;
			width: 230px;
			height: 75px;
			background: url(../img/slider-box-bg.png) no-repeat center center;
			z-index: -1;
		}
	}

	.slider__numb {
		position: absolute;
		top: 325px;
		right: 13.5%;
		@include bahnschrift;
		font-size: 4.8rem;
		font-weight: 700;
		line-height: 60px;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		max-height: 30px;
		display: flex;
		align-items: flex-start;

		span {
			display: block;
		}

		span:nth-child(2) {
			font-size: 1.6rem;
			text-transform: uppercase;
			letter-spacing: 2.4px;
			line-height: 16px;
			margin: 10px 0 0 29px;
		}
	}

	&__projects {
		background-color: #fff;
		position: absolute;
		bottom: 0;
		left: 17.7%;
		right: 0;
		padding: 40px 0 45px 120px;
	}

	.projects__wrap {
		max-width: 1040px;
		color: #868686;
		@include proximaNova-bold;
		font-weight: 400;
		line-height: 18px;
		display: flex;
		align-items: center;
	}

	.projects__title {
		transition: all 0.3s ease-in-out;
		position: relative;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -20px;
			width: 0px;
			height: 2px;
			background-color: #070707;
			visibility: hidden;
			transition: all 0.3s ease-in-out;

		}

		&::before {
			left: -20px;
		}

		&:hover {
			transform: scale(1.1);
		}

		&:hover::after,
		&:hover::before {
			visibility: visible;
			width: 15px;
		}

		a {
			text-decoration: none;
			color: #070707;
			@include bahnschrift;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.7px;
		}
	}


	.projects__complete {
		max-width: 180px;
		margin-left: 205px;
	}

	.projects__proects {
		max-width: 150px;
		margin-left: 180px;
	}

	.projects__down {
		margin-left: 205px;

		a {
			display: block;
			width: 50px;
			height: 50px;
			background-color: #ff2323;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.projects__arrow {
		width: 2px;
		height: 20px;
		background-color: #fff;
		position: relative;

		&::after {
			position: absolute;
			top: 11px;
			left: -18px;
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			border-right: 2px solid #fff;
			border-top: 2px solid #fff;
			transform: rotate(135deg);
			margin-right: 0.5em;
			margin-left: 1.0em;
		}
	}

	&__social {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		a {
			display: block;
			text-decoration: none;
			color: #ffffff;
			@include circe-regular;
			letter-spacing: 1.05px;
			writing-mode: vertical-lr;
			margin-top: 45px;
			transition: all 0.3s ease-in-out;

			&:hover {
				@include scale;
			}
		}
	}





}


@import "_mixins/modal"; //стиль модально окна
@import "media"; // Always at the end