@import "vars"; //переменные, миксины
// @import "fonts"; //шрифты
@import "libs"; //reset.css
@import "_mixins/global"; //container сетка

.overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    background-image: url(../img/overlay.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 8467px;
    opacity: 0.4;
    z-index: 10;
    display: none;
}

//Site

     


@import "_mixins/modal"; //container сетка
@import "media"; // Always at the end