.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #222222;
}

div {
	box-sizing: border-box;
}

.container{
	width: 940px;
	margin: 0 auto;
}

.header{
    background: url(../img/first-bg.jpg) no-repeat center top / cover ;
	height: 100vh;
}

.logo{
	float: left;
	padding-top: 45px;
}

.nav_menu{
	display: block;
	float: right;
	padding-top: 42px;
}

.nav_li{
	float: left;
	list-style: none;
	margin-left: 42px;
}

.nav_a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
}

.header_titles{
	padding-top: 215px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFFFFF;
}

.welcome_p{
	font-size: 40px;
}

.welcome_h1{
	font-size: 75px;
}

.button{
	text-decoration: none;
	margin: 0 auto;
	background-color: #FED136;
	width: 240px;
	padding: 20px 0;
	display: block;
	color: #4C4843;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
}

										/* Services */

.section_title{
	text-align: center;
	padding-top: 120px;
}
.section_title__h2{
	font-size: 40px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}
.section_title__p{
	color: #777777;
	font-size: 16px;
}

.services_items{
	margin-top: 80px;
	margin-bottom: 120px;
}
.services_item{
	width: 277px;
	float: left;
	text-align: center;
	line-height: 1.4;
	font-size: 14px;
}

.services_item:last-child{
	float: right;
}

.services_item:nth-child(2){
	margin-left: 55px;
}

.services_item__p{
	color: #8D8D8D;
}

.services_item__h3{
	font-size: 18px;
}

.portfolio{
	background-color: #F7F7F7;
	
	
}
.portfolio_items{
	margin-top: 80px;
	padding-bottom: 135px;
}
.portfolio_img{
	float: left;
}

.portfolio_img:last-child{
	float: right;
}

.portfolio_img:nth-child(2){
	margin-left: 35px;
}


											/* About */


.about_item__left{
	margin: 80px 0 20px 0;
}
.about_item__text__l{
	width: 300px;
	height: 180px;
	float: left;
	text-align: right;
	margin-left: 42px;
	font-size: 18px;
	font-weight: bold;
}
.about_item__text-h3__l{
	margin: 0;
}
.about_item__text-p__l{
	font-size: 14px;
	font-weight: normal;
	color: #777777;
}

.about_item__left-img__l{
	display: block;
	float: right;
	margin-right: 390px;
}

.about_item__right{
	margin: 80px 0 20px 0;
}
.about_item__text__r{
	width: 300px;
	height: 180px;
	float: right;
	text-align: left;
	margin-right: 50px;
	font-size: 18px;
	font-weight: bold;
}
.about_item__text-h3__r{
	margin: 0;
}
.about_item__text-p__r{
	font-size: 14px;
	font-weight: normal;
	color: #777777;
}

.about_item__left-img__r{
	display: block;
	float: right;
	margin-right: 28px;
}

											/* footer */


.footer{
	height: 110px;
	text-align: center;
	margin-top: 110px;
	font-size: 14px;
	font-weight: normal;
	color: #777777
}