$default-font: "varela-regular", sans-serif;
$Lato-Bold: "lato-bold", sans-serif;
$Lato-Light: "lato-light", sans-serif;
$Lato-Regular: "lato-regular", sans-serif;
// $accent: orange;
$text: #26272d;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
