@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}


html {
	font-size: 10px;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;

}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

b,
strong {
	font-weight: bold;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:focus,
input:active {
	text-decoration: none;
	outline: none;
}

ul,
li {
	display: block;
	padding: 0px;
	margin: 0px;
}

//m-menu
.m-menu {
	display: none;
	width: 20px;
	height: 12px;
	// background-color: #494141;
	text-align: center;
	position: relative;
	color: #000;
	line-height: 20px;

}

#check-menu {
	display: none;
}

.label-menu {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
	line-height: 20px;
}

.burger-line {

	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	height: 2px;
	background-color: #000;
	transition: .5s all ease;

}

.second,
.third {
	top: 6px;
}

.fourth {
	top: 12px;
}

.main-menu {
	position: absolute;
	top: 50px;
	right: 0;
	display: block;
	width: 320px;
	transform: translateX(100%);
	max-height: 0;
	font-size: 0;
	overflow: hidden;
	transition: .5s all ease;
	z-index: 10;
}

.main-menu_link {
	display: block;
	width: 100%;
	text-decoration: none;
	background-color: #1b4b66;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	line-height: 50px;
	color: #fff;
	text-transform: uppercase;
}

.main-menu_link:hover {
	background-color: #5e5555;
	transition: .5s all ease;

}

#check-menu:checked~.main-menu {
	max-height: 500px;
	font-size: 16px;
}

#check-menu:checked~.first {
	display: none;
}

#check-menu:checked~.second {
	transform: rotate(45deg)
}

#check-menu:checked~.third {
	transform: rotate(-45deg)
}

#check-menu:checked~.fourth {
	display: none;
}


.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.btn {
	width: 205px;
	height: 50px;
	background-color: #eef0f2;
	border: 1px solid #dadcdf;
	border-radius: 25px;
	margin: 0 auto;
	text-align: center;
}

.btn:hover {
	background-color: #b9bbbd;

}

.btn:active {
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.btn-link {
	text-decoration: none;
	font-family: $Lato-Regular;
	font-weight: 400;
	font-size: 1.6rem;
	color: #26272d;
	line-height: 50px;
	width: 100%;
	text-align: center;
}


.padding0 {
	padding: 0;
}


//Site

//header

.header {
	position: absolute;
	width: 100%;
	z-index: 5;
}

.header-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}

.header-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	font-size: 1.6rem;

}

.menu-link {
	display: block;
	color: #26272d;
	font-family: $Lato-Regular;
}

.menu-link:hover {
	border-bottom: 1px solid rgb(129, 141, 145);
	transition: all 0.08s ease-in-out;
	color: rgb(129, 141, 145);
}



.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo img{
	cursor: pointer;
}

.h-right-link {
	text-decoration: none;
	cursor: pointer;

}

.get-link {
	display: flex;
	background-color: #267df4;
	width: 130px;
	display: flex;
	justify-content: space-around;
	border-radius: 30px;
	cursor: pointer !important;
	background-image: url(..\img\Apple_Icon.png);
	background-repeat: no-repeat;
	background-position: 10px 9px;
	line-height: 40px;
}

.get-link:active {
	box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
}



.menu-link-get {
	color: #fff;
	width: 100%;
	text-align: center;
	transition: color 0.3s ease-in-out;
}

.menu-link-get:hover {
	border: none;
	color: rgb(133, 212, 231);
}


//first


#first {
	background-color: #f7f7f7;
	background-image: url(..\img\Photo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	text-align: center;
	padding-top: 200px;
}

.title-main {
	font-size: 6rem;
	font-weight: 400;
}

.title-subtitle {
	font-size: 2rem;
	color: #8c8f94;
	font-family: $Lato-Regular;
	font-weight: 400;
	margin-top: 40px;
}

.header-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(..\img\Play_Icon.png);
	background-repeat: no-repeat;
	background-position: 30px 19px;
	margin-top: 60px;

}

.header-link:hover {
	color: rgb(234, 255, 214);
}

.iphone6 {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

.iphone6_img {
	margin-left: 10px;
	overflow: hidden;
}

//features

#features {
	margin-top: 80px;
	margin-bottom: 80px;
}

.feature_title {
	font-size: 2.6rem;
	font-family: $Lato-Light;
	font-weight: 300;
	margin: 45px 0;
}

.feature_text {
	font-size: 1.8rem;
	font-family: $Lato-Regular;
	font-weight: 400;
	color: #8c8f94;
}

.feature_text:last-child {
	margin-top: 35px;

}

// iphone-feature

.iphone-feature__wrap{
	display: flex;
}
.if-iphone {
	width: 100%;
	height: 100%;
	//margin-left: -105px;
	background-image: url(../img/iPhone_6,1.png);
	background-repeat: no-repeat;
	background-size: contain;
	//background-position-x: -105px;
	background-position-y: 80%;
}

.if-content {
	//padding-right: calc(50vw - 585px);
}

.if-content_title,
.title-s {
	font-size: 4.2rem;
	margin: 135px 0 70px 0;
}

.if-content_text,
.text-s {
	color: #8c8f94;
	font-family: $Lato-Regular;
	font-weight: 400;
	font-size: 2rem;
}

.if-content_text:last-child,
.text-s:last-child {
	margin-top: 40px;
}

.if-content_btns {
	display: flex;
	justify-content: start;

}


.if-content-btn_try {
	width: 200px;
	height: 40px;
	background-color: #267df4;
	margin: 0;
	color: #fff;
	background-image: url(..\img\Arrow_Icon.png);
	background-repeat: no-repeat;
	background-position: 164px 16px;
}

.if-content-btn_link {
	line-height: 40px;
	margin-left: -50px;
}

.if-content-btn_link__try {
	color: #fff;
}

.if-content-btn_learn {
	height: 40px;
	width: 140px;
	text-align: center;
	background-color: #fff;
}

.if-content-btn_link__learn {
	margin: 0;
}


//map

#map {
	margin: 80px 0 80px 0;
}

.map-wrap {
	padding-left: calc(50vw - 585px);
}

.map-partners_title {
	font-size: 1.2rem;
	font-family: $Lato-Bold;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 66px;
}

.map-partners_img {
	margin-right: 30px;
	margin-top: 30px;
}

.map-image {
	background-image: url(../img/Slice_1.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 520px;
	//padding-right:calc(50vw - 300px);
	background-size: cover;
	margin-top: 160px;
}





//screen

#screen {
	background-color: #f5f5f8;
}

.screen-inner_title {
	margin-top: 140px;
	font-size: 4.2rem;
	text-align: center;
	font-weight: 400;
}

.screen-inner_title::after {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	background-color: #267df4;
	margin: 0 auto;
	margin-top: 45px;
}

.screen-inner_text {
	font-size: 1.2rem;
	text-align: center;
	color: #8c8f94;
	text-transform: uppercase;
	margin-top: 41px;
}

.screen-phones {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.screen-phone {
	background-image: url(../img/iPhone_6_screen1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 25%;
	height: 480px;
}

.screen-phone:nth-child(1) {
	background-image: url(../img/Screen_1.png);
	margin-left: -150px;
}

.screen-phone:nth-child(2) {
	background-image: url(../img/Screen_2.png);
}

.screen-phone:nth-child(4) {
	background-image: url(../img/Screen_3.png);
}

.screen-phone:nth-child(5) {
	background-image: url(../img/Screen_4.png);
	margin-right: -200px;
}


//rtb


#rtb {
	padding-bottom: 130px;
	text-align: center;
	background-color: #f5f5f8;
}

.rtb-logo {
	font-family: $Lato-Regular;
	opacity: 0.5;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.2rem;
}

.rtb-logo span {
	font-family: $Lato-Bold;

}

.rtb-title {
	font-size: 4.2rem;
	font-weight: 400;
	margin-top: 37px;
}

.form,
.rtb-form {
	width: 500px;
	height: 50px;
	border-radius: 25px;
	border: 1px solid #cbcbce;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
	font-family: $Lato-Regular;
	font-weight: 400;
	margin: 47px auto 65px auto;

}

.rtb-form__email {
	border: none;
	background-color: #f5f5f8;
	margin-left: 26px;

}

.rtb-form__btn {
	height: 42px;
	width: 162px;
	background-color: #6fc754;
	background-image: url(..\img\Arrow_Icon.png);
	background-repeat: no-repeat;
	background-position: 122px 16px;
	margin: 4px;
	color: #fff;
	text-align-last: left;
	padding-left: 30px;
}

.rtb-dowload__title {
	text-transform: uppercase;
	font-family: $Lato-Regular;
	font-weight: 400;
	font-size: 1.3rem;
	opacity: 0.3;
	letter-spacing: 1.2px;
}

.rtb-dowload__btn {
	display: block;
	width: 210px;
	height: 60px;
	background-color: #131315;
	background-repeat: 30px;
	color: #fff;
	background-image: url(..\img\Apple_Icon.png);
	background-repeat: no-repeat;
	background-position: 27px 14px;
	background-size: 24px 28px;

}

.rtb-dowload__text {
	width: 100px;
	margin-left: 68px;
	display: block;
	font-family: $Lato-Regular;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 22px;
	margin-top: 5px;
}

.rtb-dowload__btn span {
	font-size: 2.2rem;

}


//slider

#slider {
	padding: 80px 0;
	text-align: center;
}

.slider-slick__window {
	padding: 0 20px;
}

.slider-slick__image {
	margin: 0 auto;
}

.slider-slick .slider-slick__image {
	opacity: 0.2;
	width: 90px;
	height: 90px;
}

// .slider-slick .slick-center{
// 	height: 190px;
// 	background-image: url(..\img\Circle.png);
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	background-position: center ;
// }

.slider-slick .slick-center .slider-slick__image {
	color: #e67e22;
	opacity: 1;
	display: block;
	width: 130px;
	height: 130px;
}

.slick-next:before,
.slick-prev:before {
	content: '';
}



.slick-next,
.slick-prev {
	content: "";
	display: block;
	width: 23px;
	height: 42px;
	position: absolute;
	top: 55px;
}

.slick-next {
	background-image: url(..\img\Arrow.svg);
	right: -200px;
}

.slick-next:hover,
.slick-next:hover::after,
.slick-next:focus,
.slick-next:focus::after {
	background-image: url(..\img\Arrow.svg);
}

.slick-prev {
	background-image: url(..\img\Arrow1.svg);
	left: -200px;
}

.slick-prev:hover,
.slick-prev:hover::after,
.slick-prev:focus,
.slick-prev:focus::after {
	background-image: url(..\img\Arrow1.svg);
}

.slider-slick__title {
	margin-top: 25px;
	font-family: $Lato-Light;
	font-weight: 300;
	font-size: 3.2rem;

}

.slider-slick__text {
	color: #8c8f94;
	font-family: $Lato-Regular;
	font-weight: 400;
	font-size: 2rem;
}

.slider-slick__stars {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin-top: 30px;
}

.slider-slick__star {
	height: 24px;
	width: 24px;
}

.slider-slick__author {
	font-size: 1.2rem;
	font-family: $Lato-Bold;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-top: 68px;
}


//plan

#plan {
	background-color: #f4f4f5;
	padding: 90px 0 90px 0;
}

.plan-choose__title {
	font-size: 4.2rem;
	font-family: $Lato-Regular;
	font-weight: 400;
	padding-top: 47px;
}

.plan-choose__tabs-title {
	font-size: 1.2rem;
	font-family: $Lato-Bold;
	font-weight: 700;
	text-transform: uppercase;
	margin: 67px 0 24px 0;
}

.plan-choose__inner {
	width: 258px;
	height: 50px;
	border: 1px solid #ddddde;
	border-radius: 25px;
}

.plan-choose__tabs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.plan-choose__tab {
	width: 124px;
	height: 42px;
	display: block;
	text-align: center;
	line-height: 42px;
	color: #a2a3a5;
	font-size: 1.6rem;
	font-family: $Lato-Regular;
	font-weight: 400;
	transition: .3s all ease;
	margin: 3px;
}

.tab-content__active {
	background-color: #fff;
	border-radius: 21px;
	box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.1);

}

.tab-content {
	display: flex;
	text-align: center;
}

.tab-item,
.tab-item1 {
	padding: 43px 30px 50px 30px;
	background-color: #EBEBED;
	border-radius: 10px;
	cursor: pointer;


}

//увеличение картинки
.tab-item-active {
	transform: scale(1.1, 1.1);
	transition-timing-function: ease-out;
	transition-duration: 550ms;
	-moz-transform: scale(1.1, 1.1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 550ms;
	background-color: #fff;
	box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.1);
}

.tab-item-active .tab-item__butt {
	background-color: #267df4;
	color: #fff;
}

.tab-item__title {
	font-family: $Lato-Light;
	font-weight: 300;
	font-size: 3.2rem;
}

.tab-item__price {
	font-size: 1.1rem;
	font-family: $Lato-Bold;
	font-weight: 700;
	width: 63px;
	height: 28px;
	line-height: 28px;
	margin: 29px auto 56px auto;
	border: 1px solid #d4d4d5;
	border-radius: 10px;

}

.tab-item__desc {
	font-size: 2rem;
	font-family: $Lato-Regular;
	font-weight: 400;
	color: #8c8f94;
}

.tab-item__advantages {
	margin-top: 47px;
}

.tab-item__advantage {
	display: flex;
	justify-content: center;
}

.tab-item__advantage-img {
	width: 14px;
	height: 10px;
	margin-right: 8px;
	margin-top: 9px;
}

.tab-item__advantage-text {
	font-family: $Lato-Regular;
	font-size: 1.6rem;
	font-weight: 400;
}

.tab-item__butt {
	margin: 50px auto 0 auto;
	border: 1px solid #267df4;
	width: 202px;
	height: 42px;
	line-height: 42px;
	font-size: 1.6rem;
	color: #267df4;
}

.plan-choose__text {
	margin-top: 75px;
	font-family: $Lato-Regular;
	font-weight: 400;
	color: #8C8F94;
	font-size: 2rem;



}

.plan-choose__talk {
	margin-top: 45px;
	font-family: $Lato-Regular;
	font-weight: 400;
	color: #8C8F94;
	font-size: 1.2rem;
}

.plan-choose__talk-quest {
	display: inline;
}

.plan-choose__talk-link {
	border-bottom: 1px solid #267DF4;
}


//subscribe

#subscribe {
	margin: 89px 0 86px 0;
}

.subscribe-title {
	font-size: 4.2rem;
}

.subscribe-form__input {
	border: none;
	margin-left: 30px;
}

.subscribe-btn__btn {
	width: 132px;
	height: 42px;
	background-color: #6fc754;
	color: #fff;
	margin-right: 3px;
}

.subscribe-text {
	color: #8c8f94;
	font-family: $Lato-Regular;
	font-weight: 400;
	text-align: center;
	font-size: 1.4rem;
}

//footer

#footer {
	margin: 90px 0 36px 0;
}

.footer-wrap__text {
	margin: 33px 0;
	color: #8c8f94;
	font-family: $Lato-Regular;
	font-size: 1.4rem;
	font-weight: 400;
	width: 50%;
}

.footer-social {
	margin: 41px 0 170px 0;
	display: flex;
	justify-content: space-between;
	width: 225px;
}

.footer-items {
	display: flex;
	justify-content: space-around;

}

.footer-item__title {
	font-family: $Lato-Bold;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.footer-item__item {
	font-family: $Lato-Regular;
	font-size: 1.6rem;
	color: #8c8f94;
	margin: 15px 0;
}

.footer-more {
	font-size: 1.4rem;
	font-family: $Lato-Regular;
	font-weight: 400;

}

.footer-more__text {
	display: inline;
}

.footer-author {
	display: flex;
	align-items: center;
}

.footer-author__img {
	margin-top: -15px;
}

.footer-author__text {
	font-family: $Lato-Bold;
	text-transform: uppercase;
	margin-right: 12px;

}



//стили страниц и доп элементов
@import "modal"; //модальное окно
@import "media"; // Always at the end