html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	color: #777777;
}

//переменные
$text: #777777;
$yellow: #f6a937;
$title: #414141;
$blue-bg: #038fd6;
$blue-nav: #1175b7;
$raleway-semi: 'Raleway',
sans-serif;
$raleway-bold: 'Raleway',
sans-serif;




//общие блоки, наследование и миксины

section {
	padding-top: 120px;
}

.sec-title {
	color: $title;
	font-family: $raleway-semi;
	font-size: 4.3rem;
	font-weight: 600;
	text-align: center;
}

.sec-subtitle {
	text-align: center;
	font-size: 1.8rem;
	line-height: 24px;
	display: block;
	max-width: 550px;
	margin: 0 auto;
}

@mixin subtitle-bottom {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -15px;
	width: 60px;
	height: 2px;
	background-color: #efa639;
}

@mixin subtitle-line {
	content: '';
	position: absolute;
	left: 0;
	top: -25px;
	width: 30px;
	height: 3px;
	background-color: $yellow;
}

.btn {
	display: inline-block;
	background-color: $yellow;
	padding: 16px 21px;
	font-size: 1.8rem;
	font-weight: 600;
	color: #fff;
	border-radius: 5px;
	border: none;
	transition: all 300ms ease;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
	}

}

//   анимация для кнопки при клике
.ripple {
	position: relative;
	overflow: hidden;
}

.ripple-effect {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 5000px;
	animation: ripple 1s ease forwards;
	z-index: 1;
}

@keyframes ripple {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(100);
	}
}


//contact box секции about
.contact__box {
	color: #fff;
	margin-left: 28px;
}

.contact__subtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 24px;
}

.contact__numb {
	font-size: 3.5rem;
	font-weight: 700;
	padding-top: 10px;
}